<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
   
    <title>New page</title>
    
</head>
<body>
    <div style = "background-color: aqua; text-align: center">
    Hello
    </div>
    
</body>
</html>



<!--Featured Section-->
<section id="features" class="features bg-white">
    <div class="container">
        <div class="row">
            <div class="main_features fix roomy-70">

                <div class="col-md-5">
                    <div class="features_item">
                        <div class="head_title">
                            <h2 class="text-uppercase">Our <strong>Featured</strong></h2>
                        </div>
                        <div class="featured_content">
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit donec fringilla iaculis facilisis 
                                morbi nulla lectus, luctus interdum eu ultricies ac tortor maecenas nec massa sit 
                                amet erat condimentum porttitor ac quis turpis.</p>

                            <a href="" class="btn btn-default m-top-40">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-md-offset-1 sm-m-top-50">
                    <div class="features_item2_area">
                        <div class="features_item2 text-center">
                            <div class="divider_horizontal"></div>
                            <div class="divider_vertical"></div>
                            <div class="col-xs-6">
                                <div class="features_item_text">
                                    <img src="images/featured1.jpg" alt="" class="img-circle" />
                                    <p class="m-top-20">Trending Design</p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="features_item_text">
                                    <img src="images/featured2.jpg" alt="" class="img-circle" />
                                    <p class="m-top-20">Easy to Customize</p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="features_item_text m-top-50">
                                    <img src="images/featured3.jpg" alt="" class="img-circle" />
                                    <p class="m-top-20">Responsive Design</p>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="features_item_text m-top-50">
                                    <img src="images/featured4.jpg" alt="" class="img-circle" />
                                    <p class="m-top-20">Free Google Font</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off Featured Section-->

<!--Choose section-->
            <section id="choose" class="choose bg-grey roomy-80">
                <div class="container">
                    <div class="row">
                        <div class="main_choose">
                            <div class="col-md-6">
                                <div class="choose_mac">
                                    <div class="choose_slide">
                                        <div class="choose_item">
                                            <img src="images/choose-img1.png" alt="" />
                                        </div>
                                        <div class="choose_item">
                                            <img src="images/choose-img1.png" alt="" />
                                        </div>
                                        <div class="choose_item">
                                            <img src="images/choose-img1.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-6 -->

                            <div class="col-md-5 col-md-offset-1">
                                <div class="choose_content sm-m-top-40">
                                    <div class="head_title">
                                        <h2 class="text-uppercase">Why <strong>Choose Us</strong></h2>
                                    </div>
                                    <div class="choose_item_text fix">
                                        <h6><i class="fa fa-check-square-o"></i> Easy to costumize.</h6>
                                        <p>Atque ducimus velit, earum quidem, iusto dolorem. </p>
                                    </div>
                                    <div class="choose_item_text fix m-top-20">
                                        <h6><i class="fa fa-check-square-o"></i> Full of features.</h6>
                                        <p>Atque ducimus velit, earum quidem, iusto dolorem. </p>
                                    </div>
                                    <div class="choose_item_text fix m-top-20">
                                        <h6><i class="fa fa-check-square-o"></i> 24/7 Support.</h6>
                                        <p>Atque ducimus velit, earum quidem, iusto dolorem. </p>
                                    </div>
                                    <div class="choose_item_text fix m-top-20">
                                        <h6><i class="fa fa-check-square-o"></i> All in psd files.</h6>
                                        <p>Atque ducimus velit, earum quidem, iusto dolorem. </p>
                                    </div>
                                </div>
                            </div><!-- End off col-md-6 -->
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off choose section -->


            <!--Team And Skill Section-->
            <section id="teams" class="teams roomy-80">
                <div class="container">
                    <div class="row">
                        <div class="main_teams_content fix">
                            <div class="col-md-6">
                                <div class="teams_item">
                                    <div class="head_title">
                                        <h2 class="text-uppercase">Our <strong>Best Team & Skill</strong></h2>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit donec fringilla iaculis 
                                        facilisis morbi nulla lectus, luctus interdum eu ultricies tortor maecenas 
                                        nec massa sit amet erat condimentum porttitorac quis turpis nulla 
                                        lectus sit amet consectetur.</p>


                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="teams_item text-center sm-m-top-50">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="images/team1.jpg" alt="" class="img-circle" />
                                            <h4 class="m-top-20">John <strong>Doe</strong></h4>
                                            <h5>Lead Designer</h5>
                                            <div class="separator"></div>
                                            <ul class="list-inline">
                                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                            </ul>
                                        </div><!-- End off col-md-4 -->
                                        <div class="col-sm-4">
                                            <img src="images/team2.jpg" alt="" class="img-circle" />
                                            <h4 class="m-top-20">Sarah <strong>Smith</strong></h4>
                                            <h5>UX Designer</h5>
                                            <div class="separator"></div>
                                            <ul class="list-inline">
                                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                            </ul>
                                        </div><!-- End off col-md-4 -->
                                        <div class="col-sm-4">
                                            <img src="images/team3.jpg" alt="" class="img-circle" />
                                            <h4 class="m-top-20">Fabian <strong>Doe</strong></h4>
                                            <h5>Web Engineer</h5>
                                            <div class="separator"></div>
                                            <ul class="list-inline">
                                                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                                            </ul>
                                        </div><!-- End off col-md-4 -->
                                    </div>
                                </div>
                            </div><!-- End off col-md-6 -->
                        </div><!-- End off main Team -->

                        <div class="col-md-12">
                            <div class="skill">
                                <div class="team_content_details_skills m-top-50">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="80%">
                                                <label>Photoshop</label>
                                                <div class="teamskillbar-bar" style="width: 80%;"></div>
                                            </div> <!-- End Skill Bar -->

                                            <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="75%">
                                                <label>Web Design</label>
                                                <div class="teamskillbar-bar" style="width: 75%;"></div>
                                            </div> <!-- End Skill Bar -->
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="90%">
                                                <label>DEvelopment</label>
                                                <div class="teamskillbar-bar" style="width: 90%;"></div>
                                            </div> <!-- End Skill Bar -->

                                            <div class="teamskillbar clearfix m-top-50 text-uppercase" data-percent="98%">
                                                <label>Branding</label>
                                                <div class="teamskillbar-bar" style="width: 98%;"></div>
                                            </div> <!-- End Skill Bar -->
                                        </div>

                                    </div>
                                </div>
                            </div><!-- End off skill -->
                        </div><!-- End col-md-12 -->
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off Team & Skill section -->



            <!--Business Section-->
            <section id="service" class="service bg-grey roomy-70">
                <div class="container">
                    <div class="row">
                        <div class="main_service">
                            <div class="col-md-6">
                                <div class="service_slid">
                                    <div class="slid_shap bg-yellow"></div>
                                    <div class="service_slid_item text-center">
                                        <div class="service_slid_text">
                                            <span class="icon icon icon-tools text-black"></span>
                                            <h5 class="text-black m-top-20">UI/UX Design</h5>
                                        </div>
                                        <div class="service_slid_text">
                                            <span class="icon icon icon-sports-2 text-black"></span>
                                            <h5 class="text-black m-top-20">UI/UX Design</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <div class="service_item sm-m-top-50">
                                    <div class="head_title">
                                        <h2 class="text-uppercase">Our <strong>Service</strong></h2>
                                    </div>
                                    <div class="service_content">
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit donec fringilla iaculis facilisis 
                                            morbi nulla lectus, luctus interdum eu ultricies ac tortor maecenas nec massa sit 
                                            amet erat condimentum porttitor ac quis turpis.</p>

                                        <a href="" class="btn btn-default m-top-40">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End off Business section -->



            <div class="container">

                    <h4 class="text-black"><%=eat.name%></h4>
                    <img alt="" src="images/porfolio-1.jpg">
                    <p class="text-black">Contact: <%=eat.phno%></p>
                    <p class="text-black">Famous for:<%=eat.desc%></p>
                    <p class="text-black">Address: <%=eat.addr%></p>
        
                    </div>